/* index.module.scss */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.background {
  .control {
    padding-top: 50px;

    .headertexts {
      display: flex;
      justify-content: space-between;
      align-items: center;

      .div1 {
        display: flex;
        align-items: center;
        gap: 10px;

        .texts {
          display: flex;
          gap: 5px;

          p {
            color: var(--primary, #c778dd);
            font-family: "Fira Code", monospace;
            font-size: 16px;
            font-style: normal;
            font-weight: 500;
            line-height: normal;
          }

          h2 {
            color: var(--white, #fff);
            font-size: 16px;
            font-family: "Fira Code", monospace;
            font-style: normal;
            font-weight: 500;
            line-height: normal;
          }
        }

        .line {
          hr {
            width: 50px;
          }
        }
      }

      .div2 {
        display: flex;
        align-items: center;
        text-decoration: none;

        h2 {
          display: flex;
          flex-direction: column;
          gap: 10px;
          align-items: center;
          color: var(--white, #fff);
          font-size: 14px;
          font-family: "Fira Code", monospace;
          font-style: normal;
          font-weight: 500;
          line-height: normal;

          svg {
            width: 15px;
          }
        }
      }
    }

    .maps {
      display: flex;
      justify-content: center;
      flex-direction: column;
      padding-bottom: 30px;
      gap: 40px;
      padding-top: 30px;

      .border {
        border: 2px solid rgb(255, 255, 255);

        .images {
          .img {
            width: 100%;
            object-fit: cover;
            vertical-align: bottom;
          }
          video {
            width: 100%;
          }

          hr {
            border-top: 1px solid var(--gray, #abb2bf);
          }
        }

        .skills {
          display: flex;
          justify-content: center;
          padding: 5px;

          h2 {
            color: var(--gray, #abb2bf);
            font-size: 14px;
            font-family: "Fira Code", monospace;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
          }
        }

        .hr {
          hr {
            border-top: 1px solid var(--gray, #abb2bf);
          }
        }

        .projectname {
          h2 {
            color: var(--white, #fff);
            font-family: "Fira Code", monospace;
            padding: 10px;
            font-size: 18px;
            font-style: normal;
            font-weight: 500;
            line-height: normal;
          }
        }

        .projectoverview {
          p {
            padding: 10px;
            color: var(--gray, #abb2bf);
            font-family: "Fira Code", monospace;
            font-size: 14px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
          }
        }

        .live {
          display: flex;
          padding-top: 10px;
          padding-bottom: 30px;
          justify-content: center;

          a {
            width: 40%;
            border: 1px solid var(--primary, #c778dd);
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 10px;
            text-decoration: none;
            color: var(--white, #fff);
            font-family: "Fira Code", monospace;
            padding: 10px;
            font-size: 18px;
            font-style: normal;
            font-weight: 500;
            line-height: normal;

            &:hover {
              opacity: 1;
              background-color: #c778dd;
              color: black;
              border: 1px solid white;
              transition: 600ms;
            }
          }
        }
      }
    }
  }

  @media (min-width: 992px) {
    .control {
      .headertexts {
        .div1 {
          .texts {
            p {
              font-size: 32px;
            }
            h2 {
              font-size: 32px;
            }
          }

          .line {
            hr {
              width: 300px;
            }
          }
        }

        .div2 {
          h2 {
            display: flex;
            flex-direction: row;
            font-size: 28px;

            svg {
              width: 22px;
              height: 22px;
            }
          }
        }
      }

      .maps {
        display: grid;
        grid-template-columns: repeat(3, 1fr);

        .border {
          display: flex;
          flex-direction: column;
          justify-content: space-between;

          .images {
            img {
              height: 35vh;
            }
          }
          video {
            height: 35vh;

            source {
              height: 35vh;
            }
          }

          .projectoverview {
            p {
              // İlgili stil tanımları
            }
          }

          .projectname {
            padding-top: 20px;
          }

          .live {
            display: flex;
          }
        }
      }
    }
  }
}
