* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.background .control {
  padding-top: 30px;
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.background .control .texts {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.background .control .texts div {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.background .control .texts div h2 {
  color: var(--white, #fff);
  font-family: "Fira Code", monospace;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
.background .control .texts div h3 {
  display: flex;
  justify-content: center;
  font-family: "Fira Code", monospace;
  color: var(--primary, #c778dd);
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
.background .control .texts p {
  color: var(--gray, #abb2bf);
  font-family: "Fira Code", monospace;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 25px; /* 156.25% */
}
.background .control .texts .div {
  display: flex;
  justify-content: center;
  align-items: center;
}
.background .control .texts .div a {
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 200px;
  background-color: transparent;
  border: none;
  border: 1px solid var(--primary, #c778dd);
  display: inline-flex;
  padding: 8px 16px;
  align-items: flex-start;
  gap: 10px;
  color: var(--white, #fff);
  font-size: 16px;
  font-family: "Fira Code", monospace;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.background .control .texts .div a:hover {
  background-color: #c778dd;
  color: black;
  border: 1px solid white;
  transition: 600ms;
}
.background .control .arrayicon {
  display: flex;
  justify-content: center;
}
.background .control .arrayicon svg {
  rotate: 55deg;
  height: 150px;
}
.background .control .controlimages {
  border-radius: 50%;
  background: radial-gradient(50% 50% at 50% 50%, rgba(199, 120, 221, 0.6705882353) 50%, rgba(50, 15, 133, 0) 100%);
}
.background .control .controlimages .fleximages {
  border-radius: 20%;
  background: radial-gradient(50% 50% at 50% 50%, rgba(255, 255, 255, 0.3764705882) 0.4%, rgba(67, 67, 67, 0) 100%);
  display: flex;
  justify-content: center;
}
.background .control .controlimages .fleximages img {
  padding-top: 20px;
  padding-bottom: 60px;
}

@media (min-width: 992px) {
  .background .control {
    padding-top: 130px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
  }
  .background .control .texts div h2 {
    font-size: 45px;
  }
  .background .control .texts div h3 {
    padding-left: 50px;
    font-size: 55px;
    display: flex;
    justify-content: flex-start;
  }
  .background .control .texts p {
    width: 550px;
    line-height: 30px;
    font-size: 20px;
  }
  .background .control .texts .div {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
  }
  .background .control .texts .div a {
    width: 400px;
    padding: 16px 24px;
  }
  .background .control .arrayicon {
    display: flex;
    justify-content: center;
  }
  .background .control .arrayicon svg {
    rotate: -10deg;
    height: 50%;
  }
  .background .control .controlimages {
    width: 20%;
    border-radius: 10%;
    background: radial-gradient(50% 50% at 50% 50%, rgba(199, 120, 221, 0.4862745098) 80%, rgba(50, 15, 133, 0) 100%);
  }
  .background .control .controlimages .fleximages {
    border-radius: 20%;
    background: radial-gradient(50% 50% at 50% 50%, rgba(255, 255, 255, 0.3764705882) 0.4%, rgba(67, 67, 67, 0) 100%);
    display: flex;
    justify-content: center;
    align-items: center;
  }
}/*# sourceMappingURL=index.module.css.map */