* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.background {
  padding-top: 20px;
  padding-bottom: 40px;
  .headertexts {
    display: flex;
    gap: 5px;
    p {
      color: var(--primary, #c778dd);
      font-family: "Fira Code", monospace;
      font-size: 16px;
      font-style: normal;
      font-weight: 500;
      line-height: normal;
    }
    h2 {
      color: var(--white, #fff);
      font-size: 16px;
      font-family: "Fira Code", monospace;

      font-style: normal;
      font-weight: 500;
      line-height: normal;
    }
  }
  .about {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding-top: 20px;
    h2 {
      color: var(--gray, #abb2bf);

      font-size: 16px;
      font-family: "Fira Code", monospace;

      font-style: normal;
      font-weight: 500;
      line-height: normal;
    }
    p {
      color: var(--gray, #abb2bf);
      font-family: "Fira Code", monospace;

      font-size: 15px;
      font-style: normal;
      font-weight: 400;
      line-height: 26px; /* 162.5% */
    }
  }
  .readmore {
    border: 1px solid var(--primary, #c778dd);
    margin-top: 20px;
    display: flex;
    justify-content: center;
     svg{
        path{
            fill: white;
        }
    }
    a {
      text-decoration: none;
      display: flex;
      align-items: center;
      gap: 20px;
      background-color: transparent;
      border: none;
      font-family: "Fira Code", monospace;
      color: var(--white, #fff);
      font-size: 18px;
      font-style: normal;
      font-weight: 500;
      padding: 15px;
      line-height: normal;
    }
  }
  .readmore:hover {
    background-color: #c778dd;
    color: black;
    border: 1px solid white;
    transition: 600ms;
  }
}
.whitebackground {
  padding-top: 20px;
  padding-bottom: 40px;
  .headertexts {
    display: flex;
    gap: 5px;
    p {
      color: var(--primary, #c778dd);
      font-family: "Fira Code", monospace;
      font-size: 16px;
      font-style: normal;
      font-weight: 500;
      line-height: normal;
    }
    h2 {
      color: var(--white, #000000);
      font-size: 16px;
      font-family: "Fira Code", monospace;

      font-style: normal;
      font-weight: 500;
      line-height: normal;
    }
  }
  .about {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding-top: 20px;
    h2 {
      color: var(--gray, #383838);

      font-size: 16px;
      font-family: "Fira Code", monospace;

      font-style: normal;
      font-weight: 500;
      line-height: normal;
    }
    p {
      color: var(--gray, #383838);
      font-family: "Fira Code", monospace;

      font-size: 15px;
      font-style: normal;
      font-weight: 400;
      line-height: 26px;
    }
  }
  .readmore {
    border: 1px solid var(--primary, #000000);
    margin-top: 20px;
    display: flex;
    justify-content: center;
    svg{
        path{
            fill: black;
        }
    }
    a {
      text-decoration: none;
      display: flex;
      align-items: center;
      gap: 20px;
      background-color: transparent;
      border: none;
      font-family: "Fira Code", monospace;
      color: var(--white, #000000);
      font-size: 18px;
      font-style: normal;
      font-weight: 500;
      padding: 15px;
      line-height: normal;
    }
  }
  .readmore:hover {
    cursor: pointer;
    background-color: #c778dd;
    color: black;
    border: 1px solid white;
    transition: 600ms;
    a{
        color: white;
    }
      svg{
        path{
            fill: white;
        }
    }
  }
}
@media (min-width: 992px) {
  .background {
    .headertexts {
      p {
        font-size: 32px;
      }
      h2 {
        font-size: 32px;
      }
    }
    .about {
      width: 50%;
      p {
        line-height: 32px;
      }
    }
    .salam {
      display: flex;
      justify-content: flex-end;
      .readmore {
        width: 30%;
        display: flex;
      }
    }
  }
  .whitebackground {
    .headertexts {
      p {
        font-size: 32px;
      }
      h2 {
        font-size: 32px;
      }
    }
    .about {
      width: 50%;
      p {
        line-height: 32px;
      }
    }
    .salam {
      display: flex;
      justify-content: flex-end;
      .readmore {
        width: 30%;
        display: flex;
      }
    }
  }
}
