* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.background {
  animation: 2s ease-in-out forwards;
  background-color: rgb(255, 255, 255);
  padding-top: 40px;
  padding-bottom: 40px;
}
.background .control {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.background .control .controlDarkMode {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.background .control .controlDarkMode .texts {
  display: flex;
}
.background .control .controlDarkMode .texts p {
  color: var(--primary, #c778dd);
  font-family: "Fira Code", monospace;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.background .control .controlDarkMode .texts h2 {
  color: var(--white, #000000);
  font-size: 16px;
  font-family: "Fira Code", monospace;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.background .control .controlDarkMode .modeandlang {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 10px;
}
.background .control .controlDarkMode .modeandlang .darkMode .darkButton,
.background .control .controlDarkMode .modeandlang .darkMode .lightButton {
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 5px;
  transition: all 0.3s ease;
  font-family: "Fira Code", monospace;
}
.background .control .controlDarkMode .modeandlang .darkMode .darkButton {
  background-color: black;
  color: white;
  border: none;
}
.background .control .controlDarkMode .modeandlang .darkMode .lightButton {
  background-color: white;
  color: black;
  border: 1px solid black;
  font-family: "Fira Code", monospace;
}
.background .control .controlDarkMode .modeandlang .darkMode .lightButton:hover {
  transform: translateX(5px);
  background: var(--background, #282c33);
  color: rgb(255, 255, 255);
}
.background .control .controlDarkMode .modeandlang .select {
  padding: 9px 20px;
  cursor: pointer;
  border-radius: 5px;
  transition: all 0.3s ease;
  font-family: "Fira Code", monospace;
  background-color: white;
  color: black;
  border: 1px solid black;
  font-family: "Fira Code", monospace;
}
.background .control .allmyprojects p {
  color: var(--primary, #000000);
  font-family: "Fira Code", monospace;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.background .control .maps {
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding-bottom: 30px;
  gap: 40px;
  padding-top: 30px;
}
.background .control .maps .border {
  border: 2px solid rgb(0, 0, 0);
}
.background .control .maps .border .images .img {
  width: 100%;
  vertical-align: bottom;
}
.background .control .maps .border .images video {
  width: 100%;
  height: 35vh;
}
.background .control .maps .border .images video source {
  height: 35vh;
}
.background .control .maps .border .images hr {
  border-top: 1px solid var(--gray, #646464);
}
.background .control .maps .border .skills {
  display: flex;
  justify-content: center;
  padding: 5px;
}
.background .control .maps .border .skills h2 {
  color: var(--gray, #000000);
  font-size: 14px;
  font-family: "Fira Code", monospace;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.background .control .maps .border .hr hr {
  border-top: 1px solid var(--gray, #646464);
}
.background .control .maps .border .projectname h2 {
  color: var(--white, #000000);
  font-family: "Fira Code", monospace;
  padding: 10px;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.background .control .maps .border .projectoverview p {
  padding: 10px;
  color: var(--gray, #000000);
  font-family: "Fira Code", monospace;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.background .control .maps .border .live {
  display: flex;
  padding-top: 10px;
  padding-bottom: 30px;
  justify-content: center;
}
.background .control .maps .border .live a {
  width: 40%;
  border: 1px solid var(--primary, #c541e9);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  text-decoration: none;
  color: var(--white, #000000);
  font-family: "Fira Code", monospace;
  padding: 10px;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.background .control .maps .border .live a svg {
  fill: black;
}
.background .control .maps .border .live a:hover {
  background-color: #c778dd;
  color: black;
  border: 1px solid white;
  transition: 600ms;
}

.backgroundblack {
  background: var(--background, #282c33);
  animation: 2s ease-in-out forwards;
  padding-top: 40px;
  padding-bottom: 40px;
}
.backgroundblack .control {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.backgroundblack .control .controlDarkMode {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.backgroundblack .control .controlDarkMode .modeandlang {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 10px;
}
.backgroundblack .control .controlDarkMode .modeandlang .darkMode .darkButton,
.backgroundblack .control .controlDarkMode .modeandlang .darkMode .lightButton {
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 5px;
  transition: all 0.3s ease;
  font-family: "Fira Code", monospace;
}
.backgroundblack .control .controlDarkMode .modeandlang .darkMode .darkButton {
  background: var(--background, #282c33);
  font-family: "Fira Code", monospace;
  border: 1px solid white;
  color: white;
}
.backgroundblack .control .controlDarkMode .modeandlang .darkMode .lightButton {
  background-color: white;
  font-family: "Fira Code", monospace;
  color: black;
  border: 1px solid black;
}
.backgroundblack .control .controlDarkMode .modeandlang .darkMode .darkButton:hover {
  transform: translateX(5px);
  background-color: white;
  color: black;
}
.backgroundblack .control .controlDarkMode .modeandlang .select {
  padding: 9px 20px;
  cursor: pointer;
  border-radius: 5px;
  transition: all 0.3s ease;
  font-family: "Fira Code", monospace;
  background: var(--background, #282c33);
  font-family: "Fira Code", monospace;
  border: 1px solid white;
  color: white;
}
.backgroundblack .control .controlDarkMode .texts {
  display: flex;
}
.backgroundblack .control .controlDarkMode .texts p {
  color: var(--primary, #c778dd);
  font-family: "Fira Code", monospace;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.backgroundblack .control .controlDarkMode .texts h2 {
  color: var(--white, #fff);
  font-size: 16px;
  font-family: "Fira Code", monospace;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.backgroundblack .control .allmyprojects p {
  color: var(--primary, #ffffff);
  font-family: "Fira Code", monospace;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.backgroundblack .control .maps {
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding-bottom: 30px;
  gap: 40px;
  padding-top: 30px;
}
.backgroundblack .control .maps .border {
  border: 2px solid rgb(255, 255, 255);
}
.backgroundblack .control .maps .border .images .img {
  width: 100%;
  vertical-align: bottom;
}
.backgroundblack .control .maps .border .images video {
  width: 100%;
  height: 35vh;
}
.backgroundblack .control .maps .border .images video source {
  height: 35vh;
}
.backgroundblack .control .maps .border .images hr {
  border-top: 1px solid var(--gray, #abb2bf);
}
.backgroundblack .control .maps .border .skills {
  display: flex;
  justify-content: center;
  padding: 5px;
}
.backgroundblack .control .maps .border .skills h2 {
  color: var(--gray, #abb2bf);
  font-size: 14px;
  font-family: "Fira Code", monospace;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.backgroundblack .control .maps .border .hr hr {
  border-top: 1px solid var(--gray, #abb2bf);
}
.backgroundblack .control .maps .border .projectname h2 {
  color: var(--white, #fff);
  font-family: "Fira Code", monospace;
  padding: 10px;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.backgroundblack .control .maps .border .projectoverview p {
  padding: 10px;
  color: var(--gray, #abb2bf);
  font-family: "Fira Code", monospace;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.backgroundblack .control .maps .border .live {
  display: flex;
  padding-top: 10px;
  padding-bottom: 30px;
  justify-content: center;
}
.backgroundblack .control .maps .border .live a {
  width: 40%;
  border: 1px solid var(--primary, #c778dd);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  text-decoration: none;
  color: var(--white, #fff);
  font-family: "Fira Code", monospace;
  padding: 10px;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.backgroundblack .control .maps .border .live a svg {
  fill: white;
}
.backgroundblack .control .maps .border .live a:hover {
  background-color: #c778dd;
  color: black;
  border: 1px solid white;
  transition: 600ms;
}

@keyframes animation {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@media (min-width: 992px) {
  .background .control .controlDarkMode .modeandlang {
    display: flex;
    flex-direction: row;
  }
  .background .control .texts p {
    font-size: 24px;
  }
  .background .control .texts h2 {
    font-size: 24px;
  }
  .background .control .allmyprojects p {
    font-size: 24px;
  }
  .background .control .maps {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
  .background .control .maps .border {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .background .control .maps .border .images img {
    height: 35vh;
  }
  .background .control .maps .border .projectname {
    padding-top: 20px;
  }
  .background .control .maps .border .live {
    display: flex;
  }
  .backgroundblack {
    background: var(--background, #282c33);
  }
  .backgroundblack .control .controlDarkMode .modeandlang {
    display: flex;
    flex-direction: row;
  }
  .backgroundblack .control .texts p {
    font-size: 24px;
  }
  .backgroundblack .control .texts h2 {
    font-size: 24px;
  }
  .backgroundblack .control .allmyprojects p {
    font-size: 24px;
  }
  .backgroundblack .control .maps {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
  .backgroundblack .control .maps .border {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .backgroundblack .control .maps .border .images img {
    height: 35vh;
  }
  .backgroundblack .control .maps .border .projectname {
    padding-top: 20px;
  }
  .backgroundblack .control .maps .border .live {
    display: flex;
  }
}/*# sourceMappingURL=index.module.css.map */