:root {
  --color-white: #fff;
  --color-black: #000;
  --color-primary: #c778dd;
  --color-gray: #abb2bf;
}

.background {
  background: linear-gradient(135deg, #f0e7ff, #f9f8fd);
  animation: animation 2s ease-in-out forwards;
  padding-top: 50px;
  padding-bottom: 60px;

  /* Açık modda metin renkleri */
  --text-color-main: var(--color-black);
  --text-color-primary: var(--color-primary);
  --text-color-secondary: var(--color-gray);
}

.backgroundBlack {
  background: linear-gradient(135deg, #2e003e 0%, #4b007d 100%);
  animation: animation 2s ease-in-out forwards;
  padding-top: 50px;
  padding-bottom: 60px;

  /* Dark modda metin renkleri */
  --text-color-main: var(--color-white);
  --text-color-primary: var(--color-primary);
  --text-color-secondary: var(--color-gray);
}

.control {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.divcontrol1 {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.div1 {
  display: flex;
  align-items: center;
  gap: 10px;
}

.div1 h2 {
  color: var(--text-color-main);
  font-size: 16px;
  font-family: "Fira Code", monospace;
  font-weight: 500;
  line-height: normal;
}

.front h2 {
  color: var(--text-color-primary);
  font-size: 13px;
  font-family: "Fira Code", monospace;
  font-weight: 700;
  line-height: normal;
}

.divcontrol2 {
  display: flex;
  align-items: flex-end;
  flex-direction: column;
  gap: 10px;
}

.div2 {
  display: flex;
  gap: 10px;
}

.div2 h2 {
  color: var(--text-color-main);
  font-size: 16px;
  font-family: "Fira Code", monospace;
  font-weight: 500;
  line-height: normal;
}

.iconcontrol {
  display: flex;
  align-items: center;
  gap: 20px;
}

.iconcontrol svg {
  width: 30px;
  height: 30px;
}

.copyright {
  display: flex;
  justify-content: center;
  margin-top: 40px;
  color: var(--text-color-secondary);
  font-family: "Fira Code", monospace;
  font-size: 13px;
  font-weight: 400;
  line-height: normal;
}

@keyframes animation {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@media (min-width: 992px) {
  .background,
  .backgroundBlack {
    padding-top: 70px;
  }

  .control {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .divcontrol1 .div1 h2 {
    font-size: 18px;
  }

  .divcontrol1 .front h2 {
    font-size: 20px;
  }

  .divcontrol2 .div2 h2 {
    font-size: 18px;
  }

  .copyright {
    margin-top: 60px;
    font-size: 14px;
  }
}
