html {
  scroll-behavior: smooth;
}
body{
  background: var(--background, #282c33);
  
}
::-moz-selection {
  color: rgb(0, 0, 0);
  background: rgb(255, 255, 255);
}

::selection {
  color: rgb(0, 0, 0);

  background: rgb(255, 255, 255);

}
