* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.background {
  padding-bottom: 30px;
  .control {
    display: flex;
    flex-direction: column;
    gap: 30px;
    .headertexts {
      display: flex;
      align-items: center;
      gap: 5px;
      p {
        color: var(--primary, #c778dd);
        font-family: "Fira Code", monospace;
        font-size: 16px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
      }
      h2 {
        color: var(--white, #fff);
        font-size: 16px;
        font-family: "Fira Code", monospace;

        font-style: normal;
        font-weight: 500;
        line-height: normal;
      }
    }
    .overview {
      p {
        color: var(--gray, #abb2bf);
        font-family: "Fira Code", monospace;

        font-size: 16px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
      }
    }
    .mail{
        border: 1px solid var(--gray, #ABB2BF);
        .texts{
          padding: 20px;
          h2 {
            color: var(--white, #fff);
            font-size: 16px;
            font-family: "Fira Code", monospace;
    
            font-style: normal;
            font-weight: 500;
            line-height: normal;
          }
        }
        .icontexts{
          padding-left: 20px;
          padding-bottom: 20px;
          display: flex;
          align-items: center;
          gap: 5px;
          a{
            text-decoration: none;
            color: var(--white, #fff);
            font-size: 13px;
            font-family: "Fira Code", monospace;
    
            font-style: normal;
            font-weight: 500;
            line-height: normal;
          }
        }
    }
  }
}


@media(min-width:992px){
  .background{
    .control{
      .headertexts{
        p{
            font-size: 32px;
        }
        h2{
            font-size: 32px;
        }
    }
    .overview{
      width: 50%;
    }
    .flexs{
      display: flex;
      justify-content: flex-end;
      .mail{
       display: flex;
       flex-direction: column;
       justify-content: center;
       align-items: center;
       text-align: center;
        width: 20%;
        .icontexts{
          padding-left: 0px;
        }
      }
    }
    }
  }
}